.component {
	&.component--news {
		position: relative;

		.news {
			&__repeater {
				// padding-top: 48px;
				padding-top: 1.5rem;
			}

			&__title {
				&.small-text {
					position: absolute;
					margin: 0;
					letter-spacing: 0.3px;
					top: 0;
				}
			}
		}
	}

	&--with-sidebar {
		.content-block {
			// margin-bottom: 80px;
			margin-bottom: 2.5rem;
		}

		.small-text:not( .counter__title ) {
			top: 3px;
			display: block;
		}
	}

	&--content-column {
		.row {
			+ .row {
				// margin-top: 48px;
				margin-top: 1.5rem;
			}
		}

		+ .component--content-column {
			//
		}
	}
}

.content-block {
	line-height: 1.4;
	letter-spacing: -0.38px;

	h2 {
		letter-spacing: -1.1px;
		margin-bottom: 11px;
		line-height: 1.2;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&.col-md-12 {
		h2 {
			letter-spacing: 0;
			line-height: 1.2;
		}
	}
}

.counter {
	font-size: 0;
	// margin-top: 40px;
	margin-top: 1.25rem;

	&__repeater {
		padding-right: 120px;
		padding-right: 3.75rem;
		display: inline-block;

		&:last-child {
			padding-right: 0;
		}
	}

	&__title {
		//
	}

	&__enabled {
		> .fullwidth {
			display: flex;
			flex-wrap: wrap;
			align-content: space-between;
			height: 100%;
		}
	}
}

.small-text {
	font-family: $font-family-sans-serif;
	font-weight: 700;
	// font-size: 20px;
	font-size: 0.625rem;
	text-transform: uppercase;
	margin-top: -1px;
	margin-bottom: 7px;
	letter-spacing: 0.3px;
	position: relative;

	&:not( .counter__title ) {
		top: -4px;
		margin-bottom: 6px;
		letter-spacing: 0;
	}
}

.row-with {
	&-three-col {
		margin-bottom: 3px;
		margin-top: -1px;
	}
}

.content {
	&_from-editor {
		line-height: 1.4;
		letter-spacing: -0.4px;
	}
}

@media all and ( min-width: 1200px ) {
	.col-md-4 {
		&.image-block {
			padding-right: 18px;
		}
	}

	.counter {
		margin-bottom: -4px;

		&__repeater {
			padding-right: 3.45rem;

			&:last-child {
				margin-left: 5px;
			}
		}
	}

	.component {
		&.component--news {
			.news {
				&__repeater {
					padding-top: 1.1rem;
				}
			}
		}

		&--column-two {
			.content-col {
				p {
					+ p {
						margin-top: 1.15rem;
					}
				}
			}
		}
	}
}

@media all and ( max-width: 767px ) {
	.row-with {
		&-three-col {
			.col-md-4 {
				flex: 100%;
				max-width: 100%;
				background: none;

				+ .col-md-4 {
					margin-top: 30px;
				}
			}
		}
	}

	.counter__repeater {
		padding-right: 15px;
	}
}

@media all and ( max-width: 575px ) {
	.col-12 {
		flex: 100%;
		max-width: 100%;
		background: none;

		+ .col-12 {
			margin-top: 30px;
		}
	}

	.counter__repeater {
		padding-right: 15px;
	}
}
