:root {
	font-size: 16px;
	line-height: 1.7;
	color: $text-color;
}

body {
	&.is-loaded {
		opacity: 1;

		transition: opacity .2s linear;
	}
}

a {
	color: $link-color;

	&:hover {
		color: fadeout( $link-color, 10% );
		// text-decoration: underline;
	}
}


